<h2>AVISOS!!!</h2>
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-1">
    <div class="col-md-4">
      <app-carousel></app-carousel>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">VAMOS ASSISTIR!!!</h5>
        <p class="card-text">
          Lembre-se de sempre preencher todos os dados ao criar um novo filme para o catalogo, assim sempre vai ficar bem informativo e nunca irá esquecer cada detalhe.. SEJA BEM CRIATIVO NA DESCRIÇÃO😜😜😜
        </p>
        <div class="d-grid  d-md-flex justify-content-md-end">
        </div>
      </div>
    </div>
  </div>
</div>
