<div class="container mt-4">
  <div class="card mb-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/800px-Marvel_Logo.svg.png"
      class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">HE COME MARVEL WORLD</h5>
      <p class="card-text">Bem vindo ao Marvel comics world, Aqui você pode fazer o seu catalogo de filmes favoritos do universo Marvel.<br />
       Seja criativo e coloque os melhores filmes para nunca esquecer do seu titulo favorito.</p>

    </div>
  </div>

  <div class="col" style="margin-top:4rem;">
    <app-card-warn-carousel></app-card-warn-carousel>
  </div>

</div>
